<footer>
    <hr>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-copyright">&copy; 2025 Airbnb Clone, Inc. All rights reserved.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &bull;
            <a href="/terms">Terms</a>
            &bull;
            <a href="#">Sitemap</a>
        </div>
    </div>
</footer>