<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AirBnb_clone</title>
  </head>
  <body>
    <h1>All Listings</h1>

    <ul>
      <% allListings.forEach(listing => { %>
        <li>
          <strong><%= listing.title %></strong> -
          <%= listing.location %>, <%= listing.country %> :
          ₹<%= listing.price %>
        </li>
      <% }) %>
    </ul>
  </body>
</html>